        html, button, input, text, select {
            font-family: Courier New, sans-serif;
            font-size: 12pt;
        }
        body {
            margin: 0;
            padding: 0;
            padding-top: 2em;
        }
        
        .search-section {
            padding: 20px;
            display: flex;
            gap: 10px;
            justify-content: center;
            margin-top: 60px; /* Adjust for banner height */
        }
        input[type="text"], 
        button, 
        select {
            padding: 10px 20px 10px 10px; /* Adjust padding: top-right-bottom-left */
            border: 1px solid #ccc;
            border-radius: 20px; /* Rounded corners */
            outline: none;
            width: auto; /* Adjust width as needed */
            appearance: none; /* Remove default arrow */
            -webkit-appearance: none; /* Remove default arrow for Safari */
            -moz-appearance: none; /* Remove default arrow for Firefox */
        }
        select {
            background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="black"><path d="M7 10l5 5 5-5z"/></svg>') no-repeat right 0.5em center;
            background-size: 1em; /* Adjust size of the arrow */
        }
        .search-section input[type="text"] {
            width: 20em;
            padding-left: 20px; /* Padding to align text inside the rounded input */
        }
        button {
            background-color: black;
            color: white;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
        }
    
        button:hover {
            background-color: darkblue;
        }
        .inventory-grid {
            padding: 20px;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }
        thead {
            background-color: #f3f4f6;
        }
        th, td {
            border: 1px solid #e5e7eb;
            padding: 10px;
            text-align: left;
        }
        th {
            background-color: white;
            font-weight: bold;
        }
        tbody tr:hover {
            background-color: #f3f4f6;
        }
        .subtable th {
            font-size: 0.75em; /* Adjust the font size as needed */
            padding: 4px; /* Adjust the padding as needed */
            text-align: left;
        }

        .commit-button-container {
            position: fixed;
            bottom: 1em;
            right: 1em;
            z-index: 1000;
        }


/* Center the login-page vertically and horizontally */
#login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Full viewport height */
    padding: 20px;
    box-sizing: border-box;
}

/* Style the login-form-container for better appearance */
#login-form-container {
    text-align: center;
    padding: 20px;


}

/* Basic styling for inputs and button */
#login-form input[type="text"], #login-form input[type="password"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

#login-form button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #Black;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

#login-form button:hover {
    background-color: #darkblue;
}

/* Footer styling */
#login-footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    padding: 10px;
}



/* Hide the default checkbox */
input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    width: 2em;
    height: 0;
}

/* Style the table cell to make it look clickable */
.table-checkbox {
    position: relative;
    cursor: pointer;
    padding: 5px;
    text-align: center;
    max-width: 2em;
    width: 2em
}


/* Style when the checkbox is checked */
input[type="checkbox"]:checked + .custom-checkbox::before {
    background-color: black; /* Background color of the checked box */
    border: none; /* Remove border when checked */
    content: 'X'; /* Letter X as check mark */
    color: white; /* Color of the X */
    font-size: 16px; /* Adjust size as needed */
    line-height: 20px; /* Align the X */
}
